
<div class="row my-4">
    <div class="col-log-12">
        <% if(message) { %>
            <div class="alert alert-dismissible fade show alert-<%= type %>" role="alert">
                <button class="btn-close" type="button" data-bs-dismiss="alert" 
                aria-label="close" onclick="this.parentElement.style.display='none';"></button>
                <strong><%= message %></strong>
            </div>
        <% } %>

        <div class="table-responsive">
            <table class="table table-striped text-center" id="tblstudents">
                <thead>
                    <tr class="table-dark">
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Weight Category</th>
                        <th>Age Category</th>
                        <th>Club</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% students.forEach(students => { %>
                        <tr>
                            <td><%= students.name %></td>
                            <td><%= students.gender %> </td>
                            <td><%= students.weightCategory %> </td>
                            <td><%= students.ageCategory %></td>
                            <td><%= students.club %> </td>
                            <td>
                                <a href="/edit/<%= students.id %>" class="text-success"><i class="fas fa-edit fa-lg mx-1"></i></a>
                                <a href="/delete/<%= students.id %>" class="text-danger"><i class="fas fa-trash fa-lg mx-1"></i></a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>


